body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

.justify-btw {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.pos-relative {
  position: relative;
}

.btn-green {
  background-color: rgba(122,184,147,1);
  border-radius: 3px;
  border: 1px solid wheat;
  color: #fff;
  padding: 0 20px;
  min-height: 38px;
}

ul {
  list-style: none;
}