.app-header {
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 50px;

}

.app-header h2 {
  font-size: 1.2rem;
  color: grey;
}

.avatar-icon {
  border-radius: 100px;
  width: 120px;
  h1 {
    padding-left: 30px;
  }
}

.logo-test {
  line-break: anywhere;
  width: 0px;
  top: 120px;
  left: 150px;
  position: absolute;
}